.nav-button{
    display: flex;
    justify-content: space-between;
}

.trade{
    display: flex;
    justify-content: space-between;
    
}
.details{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
   
}